# Copyright (C) 2026 ZylxEmu Emulator Project
# SPDX-License-Identifier: GPL-2.0-or-later

root = true

[*]

charset = utf-8

end_of_line = lf
insert_final_newline = true

indent_size = 4
indent_style = space
tab_width = 4

[*.{md,json,yml,xml,props,csproj}]

indent_size = 2
tab_width = 2
